<%- include ('../../partials/header.ejs');%>

<div class="container">

     <hr>

     <div class="card mt-4">

          <div class="card-header">

               Admin login:
          </div>

          <div class="card-body">

               <form method="POST" action="/authenticante">
                    <input class="form-control" type="email" name="email" placeholder="email@example.com">
                    <br>
                    <input class="form-control" type="password" name="password" placeholder="*********">
                    <br>
                    <button class="btn btn-success btn-block">Login</button>
               </form>

          </div>
     </div>
</div>

<%- include ('../../partials/footer.ejs');%>